<%= form_for @restaurants, html: { multipart: true } do |form| %>
  <% if @restaurants.errors.any? %>
    <div id="error_explanation">
      <h2><%= @restaurants.errors.count %> are the errors.</h2>
      <ul>
      <% @restaurants.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.collection_select :category_id, Category.all, :id, :name,
                       prompt: true, selected: @categories %>
  </div>

<div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>


  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>


  <div>
    <%= form.label :rest_img %>
    <%= form.file_field :rest_img %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
