
<div class="container">
   <%= search_form_for @q do |f| %>
    <div class="col-lg-4">
      <%= f.search_field :name_cont, placeholder: 'Search by name ', class: "form-control" %><br>
    </div>
     <%= f.submit  %>
     <% end %>
</div>

<h1 class="current-category"><%= params[:category] %></h1>

<% if @restaurants.count == 0 %>

	<h1>There are no restaurant added in this category</h1>

<% else %>
<div class="owl-carousel">
<div class="row">
     <% @restaurants.each do |restaurant|%>
  <div class="col-md-3">
		   <h3><%= restaurant.name%></h3>
       <a href="/restaurants/<%= restaurant.id %>">click to review
       <%= image_tag restaurant.rest_img.url(:rest_index), class:"rest" %>
    </a>

     </div>
       <% end %>

  </div>
<% end %>
