<h2><%= @restaurant.name %></h2>
<h2><%= @restaurant.address %></h2>
<p><%= @restaurant.description %></p>
<%= link_to 'Back', root_path %>
<%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant) %>
<%= link_to 'Delete Restaurant', restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure?" } %>
